* {
  margin: 0;
}
body {
  background: rgb(254,254,254);
}

/* ================================= Header ================================ */

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: rgb(37, 153, 202);
  padding: 15px 0;
}
.logoImage {
  margin-left: 30px;
  width: 200px;
}
.skill {
  color: white;
  margin-left: 70px;
  margin-bottom: 10px;
  padding: 10px;
}
.hamContainer {
  justify-self: flex-end;
  align-self: center;
  margin-right: 27px;
}
.hamContainer i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 165, 213);
  padding-top: 35px;
  align-items: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.menuItems {
  align-items: center;
  display: flex;
  gap: 35px;

  margin-top: 20px;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  width: 100%;
}
.menuItems li {
  list-style: none;
  color: white;
}
.menuItems li a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
}
.menuItems li a:hover {
  color: #fdb913;
}

.show {
  left: 0;
  opacity: 1;
}
.closeButton {
  align-self: flex-end;
  margin-right: 35px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 30px;
}
.mobileMenuLogo img {
  width: 150px;
}
/* ========section1========= */
.passion {
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 165, 213);
  height: 800px;
}

.genPassion {
  height: 450px;
}
.passionText {
  padding: 70px 30px 70px 50px;
  color: white;
  background-color: rgb(45, 165, 213);
}

.passionText h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 10px;
}



.passionText p {
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.822);
}

.toLearnContainer {
  margin-top: 80px;
  background-color: white;
  border-radius: 7px;
  margin: 10px 60px;
  margin-top: -20px;
  display: flex;
  justify-content: space-around;
  height: 70px;
}

.learn p {
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  color: rgba(0, 0, 0, 0.616);
}
.learn h4 {
  color: black;
}
button {
  height: 40px;
  width: 100px;
  background-color: rgb(37, 154, 202);
  border-style: none;
  margin: 10px;
  margin-top: 15px;
  border-radius: 10px;
  color: white;
  font-size: 15px;

}

.heroImage {
  margin-top: -110px;
  padding: 50px;
  height: 150px;
  margin-left: 70px;
}
.heroImage img {
  width: 80%;
}
/* ========section2 ===========*/
.communityCont {
  background-color: rgb(224, 243, 250);
  display: flex;
  padding: 10px;
  font-size: 0.6rem;
  justify-content: space-between;
}
.commu span {
  color: rgba(0, 0, 0, 0.616);
  font-size: 10px;
}
/* ===========section3========== */
.hubby {
  height: 1400px;
}
.avail {
  background-color: white;
  margin-top: 70px;
  padding: 20px;
}
.avail p {
  margin-bottom: 15px;
  padding: 10px;
  color: rgb(152, 160, 145);
}
.avail h2 {
  font-size: 25px;
  padding: 10px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.699);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parentParent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  height: 600px;
}
.designDev {
  width: 200px;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 20px;
}
.imagedev {
  width: 200px;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: -50px;
}
.design {
  background-color: rgb(232, 245, 238);
  margin: 10px;
  height: 20px;
  padding-left: 50px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.dev {
  background-color: rgb(246, 232, 241);
  margin: 10px;
  height: 20px;
  padding-left: 50px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.market {
  background-color: rgb(252, 228, 226);
  margin: 10px;
  height: 20px;
  padding-left: 50px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.imagedev img {
  height: 100px;
  margin: 100px;
}
.archiImg {
  margin-top: 30px;
}
.archi {
  margin-top: 10px;
  margin-right: 40px;
  width: 200px;
}
.mode{
  color: rgba(0, 0, 0, 0.747);
  font-size: 12px;
}
.modeRudi{
  color: rgba(0, 0, 0, 0.637);
  font-size: 10px;
}
.illusImg {
  width: 200px;
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 20px;
}
.illus {
  margin-top: 10px;
  margin-left: 50px;
  width: 185px;
}
.bookImg {
  margin-top: 20px;
}
.book {
  margin-top: 10px;
  margin-right: 40px;
  width: 200px;
  height: 105px;
}
.designIt {
  background-color: rgb(232, 245, 238);
  margin: 10px;
  margin-left: 1px;
  height: 20px;
  width: 190px;
  padding-left: 50px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.devBuss {
  background-color: rgb(246, 232, 241);
  margin: 10px;
  height: 20px;
  margin-left: 1px;
  padding-left: 50px ;
  padding-top: 20px;
  padding-bottom: 20px;
}
.motionImg {
  margin-top: 30px;
  margin-left: 2px;
}
.motion {
  margin-top: 10px;
  margin-left: 2px;
  width: 200px;
}
.extImg {
  width: 200px;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 20px;
}
.ext {
  margin-top: 10px;
  margin-left: 40px;
  width: 185px;
}
.upgImg {
  margin-top: 20px;
  margin-left: 2px;
}
.upg {
  margin-top: 10px;
  margin-left: 2px;
  width: 200px;
  height: 85px;
}
/* ======section4======= */
.trusted {
  justify-content: center;
  padding: 20px;
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.849);
}
.net {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: rgba(0, 0, 0, 0.452);
}
ul h3 {
  margin-left: 10px;
}
ul img {
  margin-left: 20px;
}
.feel p{
  color: rgba(0, 0, 0, 0.452);
}
.stupid p{
  color: rgba(0, 0, 0, 0.452);
}
.twoParags {
  display: grid;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 22px;
}
.rudi {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.handFold {
  margin-left: 50px;
  margin-right: 5px;
}
/* =======section5========= */
.parentlastImage {
  display: flex;
  height: 300px;
  margin-top: 50px;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  background-color: rgb(37,165,215);
}
.lastImage {
  width: 50%;
  margin-top: 20px;
  padding-right: 20px;
  margin-left: 5px;
}
.result {
  width: 50%;
  padding-top: 30px;
}
.result h3 {
  padding-bottom: 20px;
  color: white;
  /* line-height: 10px; */
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}
.result p{
  color: rgba(255, 255, 255, 0.623);
}
.result button {
  margin-left: 0px;
}
/* ========section6====== */
.lastParent {
  display: flex;
  flex-direction: column;
}
.lastCrew {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: 180px;
}
.crew {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 20px;
  color: rgb(37,165,215);
}
.crew img{
  background-color: rgb(37,165,215);
  border-radius: 10px;
  padding: 1px;
  margin-right: 15px;
}
.lastCrew p {
  padding: 10px;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.733);
}
.icon {
  padding: 10px 30px 5px 30px;
  width: 200px;
  height: 30px;
  margin-left: 50px;
}
.icon i {
  padding: 0px 15px;
}
.lastTable {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  height: 250px;
}
th {
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.795);
}
td {
  padding: 5px;
  padding-: 10px 0px 20px 20px;
  color: grey;
}
table {
  column-width: 350px;
}

/*  ============Desktop==========================*/
@media only screen and (min-width: 1100px) {
  /* ========Header */
  .hamContainer,
  .mobileMenuLogo,
  .closeButton {
    display: none !important;
  }
  .menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    padding-top: 0;
    opacity: 1;
  }
  .menuItems {
    flex-direction: row;
    align-self: auto;
    margin: 0px 0px 0px 200px;
    align-items: auto;
    width: 600px;
  }
  .menuItems li a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
  }
  /* =============section1=========== */
  .passion {
    grid-template-columns: 1.3fr 1fr;
    display: flex;
    flex-direction: row;
    height: 700px;
  }
  .genPassion {
    height: 665px;
    width: 70%;
  }
  .passionText {
    padding: 120px 100px;
    height: 100px;
  }
  .passionText h1 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 200px;
  }
  .learn {
    margin-left: 50px;
  }
  .learn p{
    margin-top: 20px;
  }
  .toLearnContainer {
    width: 70%;
    margin-left: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .heroImage {
    height: 85vh;
    margin-top: 50px;
  }
  .heroImage img {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    bottom: 50px;
  }
  /* =====section2 */
  .communityCont {
    background-color: rgb(224, 243, 250);
    margin-top: 0px;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    font-size: 0.9rem;
  }
  .communityCont img {
    width: 50px;
    margin-left: 10px;
    margin-right: 20px;
    height: 50px;
  }
  .imageNever {
    display: flex;
  }
  .commu h3 {
    padding-bottom: 8px;
    font-size: 0.9rem;
  }
  .commu span {
    color: rgba(0, 0, 0, 0.616);
    font-size: 20px;
  }
  /* =======section3 */
  .hubby{
    background-color: #ffffff;
  }
  .avail p {
    margin-left: 70px;
  }
  .avail h2 {
    width: 60%;
    font-size: 40px;
    padding: 20px;
    line-height: 35px;
    margin-left: 70px;
    line-height: 50px;
  }
  .parentParent {
    display: flex;
    justify-content: space-around;
    height: 300px;
  }
  .design{
    width: 190px;
  }
  .dev{
    width: 190px;
  }
  .market{
    width: 190px;
  }
  button {
    height: 55px;
    width: 150px;
    background-color: rgb(37, 154, 202);
    border-style: none;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
  }
  .archi {
    height: 110px;
  }
  .illusImg {
    width: 200px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 30px;
  }
  .illus {
    margin-top: 10px;
    margin-left: 50px;
    width: 185px;
    height: 110px;
  }
  .bookImg {
    margin-top: 30px;
  }
  .book {
    margin-top: 10px;
    margin-right: 40px;
    width: 200px;
    height: 110px;
  }
  .designIt {
    width: 180px;
  }
  .devBuss {
    width: 180px;
  }
  .motionImg {
    margin-top: 30px;
    margin-left: -40px;
  }
  .motion {
    margin-left: -40px;
  }
  .extImg {
    margin-left: 70px;
  }
  .ext {
    margin-left: 70px;
  }
  .upgImg {
    margin-top: 20px;
    margin-left: 2px;
    width: 210px;
  }
  .upg {
    margin-top: 10px;
    margin-left: 2;
    width: 210px;
    height: 85px;
  }
  .hubby {
    height: 850px;
  }
  /* ====section4 */
  .trusted {
    justify-content: center;
    padding: 20px;
    padding-left: 400px;
  }
  ul {
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .twoParags {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
  }
  .feel {
    margin-right: 150px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .rudi {
    margin-right: 5px;
    margin-top: 30px;
    padding: 10px;
  }
  .stupid {
    margin-left: 30px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* =======section5======= */
  .parentlastImage {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    border-radius: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .result h3 {
    line-height: 40px;
    padding-bottom: 20px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
  }
  .lastParent {
    display: flex;
    flex-direction: row;
  }
  .lastTable {
    margin-top: 50px;
    margin-left: -40px;
  }
  .lastCrew {
    margin-left: 250px;
  }
  td {
    padding: 15px  0px 10px 20px;
  }
  th {
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  table {
    column-width: 350px;
  }
}
